.availablefoods {
  /* background-color: var(--light-blue-background); */
  min-width: 35rem;
  min-height: 100vh;
}

.availablefoods .foodcards {
  margin: 0 2rem 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;
  min-height: 75vh;
}
