.topbar {
  padding: 1rem 3rem;
  /* height: 7rem; */
  /* border-bottom: 2px solid var(--blue); */
}
.topbar .location {
  max-width: 30rem;
  cursor: pointer;
  padding: 0 1.4rem 0.8rem 0.8rem;
  border-radius: 1rem;
}
.topbar .location:hover {
  /* filter: brightness(15%); */
  background-color: var(--light-blue-background-hover);
}

.topbar .location .icon {
  font-size: 3rem;
}

.topbar .location .address {
  padding: 0.5rem;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid var(--blue-button-background-hover);
}

.topbar .add-food-btn button {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--blue);
  color: var(--white-text);
  height: 4rem;
  /* width: 8rem; */
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.topbar .add-food-btn button:hover {
  background-color: var(--blue-button-background-hover);
}

/* topbar location model */
.modal.fade.show {
  padding: 0;
}
.modal-backdrop {
  z-index: 10;
}
.modal-content {
  padding: 2rem;
}
.modal-content .modal-header {
  padding: 0;
  border-bottom: 0;
}
.modal-content .modal-header h1 {
  font-weight: 700;
  font-size: 1.8rem;
}
.modal-content .modal-header .btn-close {
  width: 0.4rem;
  height: 0.4rem;
  border: none;
}
.modal-content .modal-header .btn-close:focus {
  box-shadow: none;
}
.modal-content .modal-body {
  /* padding: 2.6rem 0; */
}

.modal-body .location {
  max-width: 100%;
  cursor: default;
  padding: 0;
  /* padding: 0 1.4rem 0.8rem 0.8rem; */
  border-radius: 1rem;
}
.modal-body .location:hover {
  /* filter: brightness(15%); */
  background-color: transparent;
}

.modal-body .location .icon {
  font-size: 3rem;
}

.modal-body .location .address {
  padding: 0.5rem;
  color: #686b78;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid var(--blue-button-background-hover);
}

.modal-body .locate-me-btn button {
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--blue);
  color: var(--white-text);
  height: 4rem;
  /* width: 8rem; */
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.modal-body .locate-me-btn button:hover {
  background-color: var(--blue-button-background-hover);
}
