@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --black-text: #1c1d1f;
  --white-text: #ffffff;
  --grey-background: #f7f9fa;
  --red:#e41919;
  --blue: #002047;
  --blue-button-background-hover: #003372;
  --light-blue-background:#eaf4ff;
  --light-blue-background-hover:#cae0f6;
  --purple-text: #5624d0;
  --light-grey-text: #6a6f73;
  --purple-light-text: #cec0fc;
  --orange-light: #f3ca8c;
  --orange-dark: #b4690e;
  --light-grey-border: #d1d7dc;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.6rem;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.tag__bestseller {
  display: inline-block;
  background-color: #eceb98;
  color: #3d3c0a;
  margin: 0.8rem 0 0.4rem;
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.2rem;
  width: fit-content;
}
